.row {

    padding: 40px;


}
div {

background-color: rgb(72, 134, 113);
text-align: center;
}


/*estilo de la foto de perfil*/

@media (min-width: 576px) {
    #perfilfoto.jpeg{
        position: relative;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 35%;
    }
}


/*etiqueta del nombre*/

#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;


}